@model IEnumerable<TheFreakSide.Models.Product>
@{
    ViewData["Title"] = "Productos";
    var categories = (List<Category>)ViewData["Categories"];
}

<div class="alert alert-primary" role="alert">
    <h3>@ViewData["Title"] @ViewBag.CategoryName</h3>
</div>

<p>@ViewBag.SearchName</p>
<form asp-controller="Products" asp-action="Search">
    <div class="d-flex justify-content-lg-between mb-4 mt-2">
        <input class="form-control col-11 border-primary mr-3" type="text" name="name" id="name" placeholder="Inserte un producto.." value="" />
        <button type="submit" class="btn btn-primary col-sm"><i class="fas fa-search text-white"></i></button>
    </div>
</form>

<div class="row">
    <div class="col-lg-3">
        <div class="list-group">
            @foreach (var category in @categories)
            {
                @Html.ActionLink(@category.Name, "Index", new { categoryID = category.Id }, new { @class = "list-group-item border-primary" })
            }
            @Html.ActionLink("Ver todos los productos", "Index", new { categoryID = 0 }, new { @class = "list-group-item bg-primary text-white" })
        </div>
    </div>
    <!-- /.col-lg-3 -->

    <div class="col-lg-9">
        @if (Model.Count() == 0)
        {
            <div class="alert alert-danger" role="alert">
                <h5>No se han encontrado productos</h5>
            </div>
        }
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card h-100 text-center border-primary">
                        <img class="card-img-top p-2" src="@product.ImageURL" alt="">
                        @if (product.StockQuantity <= 10 && product.StockQuantity > 0)
                        {
                            <p class="text-danger">Últimas unidades</p>
                        }
                        <hr class="border-primary" />
                        <div class="card-body p-0">
                            <h4 class="card-title">
                                <span>@product.Name</span>
                            </h4>
                            <hr class="border-primary" />
                            <div class="text-truncate p-3">
                                <span class="card-text" style="max-width: 250px;">@product.Description</span>
                            </div>
                            <h5>@product.Price €</h5>
                        </div>
                        <div class="card-footer bg-primary">
                            @Html.ActionLink("Visualizar", "Product", new { id = product.Id }, new { @class = "btn custom-button" })
                            @if (product.StockQuantity != 0)
                            {
                                @Html.ActionLink("Comprar", "Index", "Orders", new { id = product.Id }, new { @class = "btn btn-success" })
                            }

                            @if (product.StockQuantity == 0)
                            {
                                <button class="btn btn-danger" disabled>Agotado</button>
                            }
                        </div>
                    </div>
                </div>
            }

            <!-- /.row -->
        </div>
        @if (ViewBag.totalPages != 0)
        {
            <nav aria-label="Page navigation example">
                <ul class="pagination d-flex justify-content-center">
                    <li class="page-item">
                        <a class="page-link bg-primary text-white" asp-controller="Products" asp-route-type="previous" asp-route-pageNumber="@ViewBag.PageNumber" aria-label="Anterior" hidden="@(ViewBag.PageNumber == 1)">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    @for (var pageNumber = 1; pageNumber <= ViewBag.TotalPages; pageNumber++)
                    {
                        <li class="page-item"><a class="page-link" asp-controller="Products" asp-route-pageNumber="@pageNumber">@pageNumber</a></li>
                    }
                    <li class="page-item">
                        <a class="page-link bg-primary text-white" asp-controller="Products" asp-route-type="next" asp-route-pageNumber="@ViewBag.PageNumber" aria-label="Siguiente" hidden="@(ViewBag.PageNumber == ViewBag.TotalPages)">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        }
    </div>
    <!-- /.col-lg-9 -->

</div>
