@model TheFreakSide.Models.Product

@{
    ViewData["Title"] = "Producto";
}

<div class="alert alert-primary" role="alert">
    <h3>@ViewData["Title"] > @Model.Name </h3>
</div>

<ul class="list-group mt-4">
    <li class="list-group-item text-center border-primary">
        <img class="card-img-top" src="@Model.ImageURL" />
        @if (Model.StockQuantity <= 10 && Model.StockQuantity > 0)
        {
            <p class="text-danger">Últimas unidades</p>
        }
    </li>
        <li class="list-group-item d-flex justify-content-between border-bottom border-primary">
            <h6 class="col-md-9">@Model.Description</h6>
            <h6 class="col-sm-2">Categoría <span class="badge badge-primary">@ViewBag.CategoryName</span></h6>
            <span class="col-sm font-weight-bold text-center">@Model.Price €</span>
        </li>
        <li class="list-group-item d-flex justify-content-between border-primary">
            <a class="btn btn-primary" asp-area="" asp-controller="Products" asp-action="Index">Volver Atrás</a>
            @if (Model.StockQuantity != 0)
            {
                @Html.ActionLink("Comprar", "Index", "Orders", new { id = Model.Id }, new { @class = "btn btn-success" })
            }

            @if (Model.StockQuantity == 0)
            {
                <button class="btn btn-danger" disabled>Agotado</button>
            }
        </li>
    </ul>