@model TheFreakSide.Models.ContactEnquirie;

@{
    ViewData["Title"] = "Contacto";
}

<div class="alert alert-primary" role="alert">
    <h3>@ViewData["Title"]</h3>
</div>

<div class="row">
    <div class="col-lg-8 mb-4">
        @using (Html.BeginForm("Index", "ContactEnquiries", FormMethod.Post))
        {
            <div class="control-group form-group">
                <div class="controls">
                    @Html.LabelFor(Model => Model.FirstName, "Nombre")
                    @Html.EditorFor(Model => Model.FirstName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    <p class="help-block"></p>
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    @Html.LabelFor(Model => Model.LastName, "Apellidos")
                    @Html.EditorFor(Model => Model.LastName, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    <p class="help-block"></p>
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    @Html.LabelFor(Model => Model.Email, "Email")
                    @Html.EditorFor(Model => Model.Email, new { htmlAttributes = new { @class = "form-control", @required = "required" } })
                    <p class="help-block"></p>
                </div>
            </div>
            <div class="control-group form-group">
                <div class="controls">
                    @Html.LabelFor(Model => Model.Message, "Mensaje")
                    @Html.TextAreaFor(Model => Model.Message, new { @class = "form-control", @required = "required" })
                    <p class="help-block"></p>
                </div>
            </div>
            <div id="success"></div>
            <!-- For success/fail messages -->
            <button type="submit" class="btn btn-primary" id="sendMessageButton">Enviar</button>
        }
    </div>

</div>